* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*body */
body {
      background: linear-gradient(to bottom right, #ff7e5f, #feb47b);
      font-family: "Merienda", cursive;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      color: #333;
      background-size: cover;
}

/* navigation elements*/
.navbar {
    position: fixed;
    top: 2px;
    width: 100%;
    padding: 1rem 2rem; 
     background-color: blanchedalmond; 
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto; 
}
/* navigation links */
.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
    }
.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 700;
    position: relative;
    border-radius: 4px;
    border-radius: 25px;
    padding: 0.5rem 1rem;
}
.nav-links a:hover {
    color: green;    
    background-color: tomato;  
    box-shadow: 5px 5px 15px black;
}
/*----------home--------->*/

.section#home {
   margin-top: 60px; /* Adjust based on navbar height */
    opacity: 0.9;
   transform: translateY(-20px);
    height: 100vh;
   padding: 100px 20px 80px;

}

.section#home {
  display: flex;
  align-items: center;
  justify-content: center;
  color: purple;
  position: relative;
}
.home-title {
    font-size: 50px;
   margin-bottom: 2px;
  font-family: "Eater", serif;
  font-style: normal;
}
.home-description {
    font-size: 20px;
    opacity: 1;
}

/*styling h2 and h3 */
.section h2 {
  color: green;
  text-align: center;
}

.section h3 {
  color: blue;
  text-align: center;
}
/* Blurb section*/
#blurb {
    width: 90%;
    margin-top: 40px; /* Adjust based on navbar height */
    opacity: 0.9;
    height: 100vh;
    padding: 100px 40px 80px 35px; 
    align-items: center; 
    justify-content: center;

}

.hi {
    margin-top: 10px;
    width: 400px;
    height: 400px;
    margin-left: 40%;
}
/*skills section*/
#skills {
    width: 90%;
    margin-top: 40px; /* Adjust based on navbar height */
    opacity: 0.9;
    height: 100vh;
    padding: 100px 40px 80px 35px;
    align-items: center;
    justify-content: center;
}
#skills .meme {
    width: 20px;
    height: 10px;
    margin-left: 40%;
}
/*hobbies section*/
#hobbies {
    width: 90%;
    margin-top: 40px; /* Adjust based on navbar height */
    opacity: 0.9;
    height: 100vh;
    padding: 100px 40px 80px 35px;
    align-items: center;
    justify-content: center;
}
/* connect section*/
#connect {
    display: flex;
    width: 90%;
    margin-top: 450px; 
    opacity: 0.9;
    height: 100vh;
    padding: 100px 40px 80px 35px;
    align-items: center;
    justify-content: center;
}
