* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.home-title {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* navigation elements*/
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem 2rem;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}
/* navigation links */
.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}
.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 700;
    position: relative;
    border-radius: 4px;
    border-radius: 25px;
    padding: 0.5rem 1rem;
}
.nav-links a:hover {
    color: green;    
    transform: translateX(10px);
    background-color: tomato;   
}
/*----------home--------->*/

.section {
   height: 100vh;
   padding: 100px 20px 80px;
}

.section#home {
   opacity: 0.9;
   transform: translateY(-20px);

}

.section#home {
  background: orange;
  display: flex;
  align-items: center;
  justify-content: center;
  color: purple;
  position: relative;
  overflow: hidden;
}
.home-title {
    font-size: 3rem;
   margin-bottom: 5rem;
   animation: slideIn 1s ease forwards;
}
.home-description {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    animation: fadeIn 1s ease forwards;
    opacity: 1;
}
